@font-face {
	font-family: OpenSans;
	src: url('font/OpenSans-Light.ttf');
}

body {
	background-color: #F7FBFE;
  	font-family: OpenSans, sans-serif;
  	letter-spacing: 1px;
  	margin: 2px;
}

h1, h2, p, form {
	padding-top: 5px;
	padding: 5px 0px 5px 10px;
	margin: 0;
}

header {
	background-color: #F7FBFE;
	margin-top: 25px;
  	padding-bottom: 8px;
  	padding-top: 18px;
  	border-top: solid 1px #000000;
  	border-bottom: solid 1px #000000;
  	display: inline-block;
}

footer {
	display: inline-block;
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	position: relative;
	bottom: 0px;
}

footer div {
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
	color: #337ab7;
}

nav {
	height: 100%;
	display: block;
	float: right;
	width: 55%;
	text-align: right;
	font-size: 15px;
	margin-right: 5px
}


nav ul {
	margin: 0;
	display: inline-block;
	width: 100%;
	padding-left: 0;
}

nav ul li {
	color: #333;
  	margin: 0;
}

nav a {
	padding: 1% 3%;
	display: inline;
}

nav a:hover .top {
	border: solid 1px #DCDCDC;
  	border-radius: 5px;
  	padding: 1% 3%;
  	color: #23527c;
}

form div {
	padding-bottom: 8px;
}

.form_input {
	display: inline-block;
	width: 40%;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

textarea {
	display: inline-block;
	height: 250px;
	width: 50%;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	resize: none;

}

input[type=submit] {
	border-radius: 5px;
	border: solid 1px #D3D3D3;
	background-color: #FEFEFE;
	font-family: OpenSans, sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
	padding: 5px 10px;
	margin-top: 20px;
}

.main_hello {
	display: block;
	text-align: center;
	padding-top: 5px;
}

.top {
	padding-top: 35px;
}

.top li {
	display: inline;
}

.main_body {
	display: inline-block;
	width: 70%;
  	font-weight: bold;
}

.background_image {
	background-image: url('cinque.png');
	opacity: 0.8;
	background-size: cover;
}

.bottom {
	border-top: solid 1px #DCDCDC;
	margin: auto 0;
	display: block;
	text-align: center;
	width: 100%;
	padding: 10px;
}

.bottom li {
	display: inline-block;
	padding: 0 5px;
}

#current_link {
	border: solid 1px #DCDCDC;
  	border-radius: 5px;
  	padding: 1% 3%;
  	color: #23527c;
  	background-color: #FEFEFE;
}

.logo {
	max-width: 35%;
}

#logo {
	max-width: 100%;
	padding-left: 7px;
}


#profile_pic {
	max-width: 40%;
	border-radius: 100%;
	display: inline-block;
}

#resume {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.icon {
  	max-height: 30px;
 	 max-width: 30px;
}

.gallery {
  	width: 80%;
  	margin: 0 auto;
  	padding: 5px;
}

.gallery div {
  	position: relative;
  	float: left;
  	padding: 5px;
  	width: 30%;
}

.gallery div img {
	margin: 0 auto;
	display: inline-block;
	width: 100%;
  	transition: .1s transform;
  	transform: translateZ(0);
}

.gallery div:hover {
  	z-index: 1;
}

.gallery div:hover img {
	transform: scale(1.5,1.5);
  	transition: .3s transform;
}

.cf:before, .cf:after {
 	display: table;
 	content: "";
 	line-height: 0;
}

.cf:after {
	clear: both;
}

#signature {
	display: block;
	max-width: 175px;
}

.thanks {
	margin-bottom: 300px
}

/* Resume */
.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #337ab7;
}

#name h1 {
	font-size: 2.3em;
	font-weight: 700;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 1.8em;
	margin-left: 2px;
}

#mainArea {
	padding: 0 40px;
}


#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 1em;
	margin-top: 5px;
}

#contactDetails ul li {
	margin-bottom: 3px;
}

#contactDetails ul li a, a[href^=tel] {
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.subDetails {
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 0.8em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media only screen and (max-width: 320px) {
	body {
		font-size: 13px;
	}

	body > div {
		margin-top: 225px;
	}

	header {
		margin-top: 0;
		z-index: 1000;
		position: fixed;
		top: 0;
	}
	
	.logo {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 90%;
	}

	#logo {
		width: 100%;
		padding-left: 0;
	}

	.top {
		display: block;
		padding-top: 0;
	}

	nav {
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	nav a {
		display: block;
		width: 100%;
	}

	#current_link {
		border-radius: 0px;
	}

	header, p, .top, .bottom {
		padding-left: 0px;
		padding-right: 0px;
	}

	h1 {
		display: inline-block;
		width: 100%;
		padding-left: 0;
		text-align: center;
	}

	.main_body {
		display: block;
		width: 85%;
		margin: 0 auto;

		text-align: center;
	}

	#profile_pic {
		display: block;
		margin: 0 auto;
		max-width: 60%;
	}

	.icon {
		width: 40px;
	}

	.background_image {
		margin-top: 210px;
	}

	form {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	input, textarea {
		width: 80%;
	}

	.gallery div {
		display: block;
		width: 100%;
	}

	.gallery div:hover img {
		transform: scale(1.1,1.1);
	}

	input[type='submit'] {
		margin-bottom: 5px;
		margin-top: 0;
	}

	#signature {
		max-width: 80%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	body {
		font-size: 10px;
	}
	header {
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.logo {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 90%;
	}

	#logo {
		width: 100%;
		padding-left: 0;
	}

	.top {
		display: block;
		border-top: solid 1px #000000;
		width: 100%;
		padding: 0;
		margin-right: 0;
	}

	.top ul {
		text-align: center;
		height: 100%;
	}

	.top li {
		display: inline-block;
		height: 100%;
		width: 16%;
		padding: 0 5px;
	}

	.top li a {
		display: block;
		width: 100%;
	}

	#current_link {
		border-radius: 0px;
		border-left: solid 1px #000000;
		border-right: solid 1px #000000;
		font-weight: 900;
	}

	h1 {
		display: block;
		text-align: center
	}

	.main_body {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	#profile_pic {
		display: inline-block;
		width: 45%;
		float: left;
		padding: 3% 3%;
		margin-bottom: 50px;
	}

	.main_hello p {
		display: inline-block;
		width: 45%;
		float: right;
		text-align: left;
		padding: 3% 3%;
		margin-bottom: 50px;
	}

	form {
		width: 80%;
		margin-right: 0px;
	}

	#form_input, textarea {
		width: 100%;
	}

	input[type='submit'], .gallery, #signature {
		margin-bottom: 50px;
	}

	.icon {
		max-width: 30px;
		max-height: 30px;
	}

	footer {
		position: fixed;
		left: 0px;
		bottom: 0px;
		z-index: 1000;
	}
}


